
* {
    margin: 0;
    box-sizing: border-box;
  }
html {
    max-width: 1200px;
    width: 100%; 
    margin: 0 auto;
    background-color: #e7ded9;
}
body {      
    
  Div {
    border: 0.5px;
    color: black;
    border-style: solid;
    padding: 0px;
}
p {
    color:#13292A;
    font-family: 'Lato', sans-serif;
    font: Lato; 
    padding: 100px 30px 50px 30px;
    margin: 30px;
}
a:link {
    color: #13292A;
}
a:visited {
    color: none;
    background-color: transparent;
    text-decoration: none;   
  }
.header1 {
    margin: 30px;
    background-image: url("picaa22.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 350px;
    padding: 300px 0px 150px 0px;
    width: 100%;

}
@media screen and (max-width: 480px) {
    .header1 {
        height: 150px !important;
    }
}
.header1 img {
    max-width: 50%;
    height: auto;
}

.header1 h1 {
    font-size: 35px;
    text-align: left;
    padding: 25px 0px 0px 150px;
}
.header2 {
    background-color: #ffffff;
    margin: 30px;
    padding: 0px 0px 0px 0px;
    background-image: url("metsa.jpg");
}
.header2 h2 {
    font-size: 28px;
    text-align: left;
    padding: 25px 0px 0px 150px;
}
.linkit button {
        color: #ffffff;
        background-color: #13292a;
        font-size: 23px;
        font-family: 'Lustria', sans-serif;
        border: 0px solid #2d63c8;
        border-radius: 30px;
        padding: 15px 28px;
        letter-spacing: 2px;
        cursor: pointer;
        margin: 10px;
        display: flex;
        justify-content: flex-end;
        max-width: 80%;
        height: auto;
        min-width: 15px;
        min-height: 15px;
        align-items: center; 
    }
.linkit button:hover {
        color: #2d63c8;      
}
.linkit {
        display: flex;
        justify-content: flex-end;
        margin: 30px;
        background-color: #ffffff;
        padding: 0px 0px 0px 0px;
        width: 100%;
        height: auto;
}
.pictures {
    background-color: #e7ded9;
    margin: 30px;
}
.pdf {
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdf img {
    max-width: 100%;
    height: auto;
    border: 1px;
    border-style: solid;
    border-color: #13292A;
    }
.content {
    background-color: #e7ded9;
    margin: 30px;
}
.form {
    background-color: #e7ded9;
    background-position: center;
    margin: 30px;
}

.kiitos {
    background-color: #e7ded9;
    margin: 30px;
}

.footer {
    background-color: #ffffff;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.footer a {
    padding: 10px 0px 0px 0px; 
    }
.footer p {
    padding: 0px 0px 0px 0px !important;
    }
.footer img {
    height: auto;
    max-width: 120px;
    }
.header1,
.header2,
.linkit,
.pictures,
.content,
.footer,
.kiitos,
.pdf{
    margin: 0;
    padding: 0;
    }

}