
body {  

    !<meta name="viewport" content="width=device-width, initial-scale=1.0">
    width:1300px;
    margin:0 auto;

    background-color: #e7ded9 ;
    a:hover {
        color: hotpink;
        
    }  
    
  Div {
    border: 0.5px;
    color: transparent;
    border-style: solid;
    padding: 0px;
    
}


p {
    color:#13292A;
    font-family: 'Lustria', sans-serif;
    font: Lustria; 
    padding: 100px 30px 50px 30px;
    margin: 30px;

}

a:link {
    color: #13292A;
}
a:visited {
    color: none;
    background-color: none;
    text-decoration: none;   
  }
.header1 {
    !background-color: #ffffff;
    margin: 30px;
    background-image: url("picaa22.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 350px;
    padding: 300px 0px 150px 0px;

}
.header1 img {
    max-width: 50%;
    height: auto;
}
.header1 h1 {
    font-size: 35px;
    text-align: left;
    padding: 25px 0px 0px 150px;
    
}
.header2 {
    !background-color: #ffffff;
    margin: 30px;
    padding: 0px 0px 0px 0px;
    background-image: url("metsa.jpg");
}
.header2 h2 {
    font-size: 28px;
    text-align: left;
    padding: 25px 0px 0px 150px;
    
    
}

.linkit button {
        color: #ffffff;
        background-color: #13292a;
        font-size: 25px;
        font-family: 'Lustria', sans-serif;
        border: 0px solid #2d63c8;
        border-radius: 30px;
        padding: 15px 35px;
        letter-spacing: 3px;
        cursor: pointer;
        margin: 20px;2
        display: flex;
        justify-content: flex-end;
        max-width: 100%;
        height: auto;
    }
.linkit button:hover {
        color: #2d63c8;ASs
        background-color: #ffffff;
}
.linkit {
        display: flex;
        justify-content: flex-end;
        margin: 30px;
        background-color: #ffffff;
        padding: 0px 0px 0px 0px;
}

.pictures {
    background-color: #e7ded9;
    margin: 30px;
}
.pdf {
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pdf img {
    max-width: 100%;
    height: auto;
    border: 1px;
    border-style: solid;
    border-color: #13292A;
    }
.content {
    background-color: #e7ded9;
    margin: 30px;
}

.form {
    background-color: #e7ded9;
    background-position: center;
    margin: 30px;
}

.kiitos {
    background-color: #e7ded9;
    margin: 30px;
}

.footer {
    background-color: #ffffff;
    margin: 30px;
    }
    .header1,
    .header2,
    .linkit,
    .pictures,
    .content,
    .footer,
    .kiitos,
    .pdf{
        margin: 0;
        padding: 0;
    }
}
